.Main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #e06666;
}
.Main > div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}